In [ ]:
import requests
from bs4 import BeautifulSoup as bs
url = 'http://books.toscrape.com/'

In [ ]:
response = requests.get(url)
response

In [ ]:
response.status_code
type(response)
print(response.text[:1000])

In [ ]:
type(response.text)

In [ ]:
soup = bs(response.text)
type(soup)

In [ ]:

soup.find('title').text
soup.find('title').text.strip()

In [ ]:
book_tag = soup.find_all('article',class_='product_pod')
len(book_tag)

In [ ]:
book = book_tag[0]
print(book)

In [ ]:
title_tag = book.find('a',title=True)
title_tag

In [ ]:
title_tag.text

In [ ]:
title_tag['href']

In [ ]:
title_tag['title']

In [ ]:
book.find('p')['class'][1]

In [ ]:
#2 price
price = book_tag.find('p', class_='price_color').text[1:]
price

In [ ]:
#3Book link 

link = ' http://books.toscrape.com/' + book_tag.find('a')['href']
link

In [31]:
def get_details(book_tag):
    title = book_tag.find('a', title=True)['title']
    rating = book_tag.find('p')['class'][1]
    price= book_tag.find('p',class_='price_color').text[1:]
    link=' http://books.toscrape.com/' + book_tag.find('a')['href']
    return title,rating,price,link

In [33]:
def get_soup(url):
    resp = requests.get(url)
    if resp.status_code == 200:
     return bs(resp.text)
    else: return None

def get_books(url):
    soup=get_soup(url)
    book_tag = soup.find_all('article',class_='product_pod')


    books=[]
    for book_tag in book_tag:
        books.append(get_details(book_tag))

    return books

In [34]:
url= 'http://books.toscrape.com/'
books=get_books(url)
len(books)

20

In [35]:
books[:3]

[('A Light in the Attic',
  'Three',
  '£51.77',
  ' http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'),
 ('Tipping the Velvet',
  'One',
  '£53.74',
  ' http://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html'),
 ('Soumission',
  'One',
  '£50.10',
  ' http://books.toscrape.com/catalogue/soumission_998/index.html')]

In [38]:
import pandas as pd 


def get_all_books(page = 3):
    books = []
    for i in range(1, page+1):
        url = f'http://books.toscrape.com/catalogue/page-{i}.html'
        soup = get_soup(url)
    if soup:
        book_tag = soup.find_all('article',class_='product_pod')

        for book_tag in book_tag:
            books.append(get_details(book_tag))


    books = pd.DataFrame(books,columns=['title','rating','price','link'])
    return books

In [39]:
df = get_all_books(3)
df.head()

,title,rating,price,link
0,Slow States of Collapse: Poems,Three,£57.31,http://books.toscrape.com/slow-states-of-coll...
1,Reasons to Stay Alive,Two,£26.41,http://books.toscrape.com/reasons-to-stay-ali...
2,Private Paris (Private #10),Five,£47.61,http://books.toscrape.com/private-paris-priva...
3,#HigherSelfie: Wake Up Your Life. Free Your So...,Five,£23.11,http://books.toscrape.com/higherselfie-wake-u...
4,Without Borders (Wanderlove #1),Two,£45.07,http://books.toscrape.com/without-borders-wan...

In [40]:
df.shape

(20, 4)